{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'poll/style.css' %}" />

{% if latest_poll_list %}
    <ul>
    {% for poll in latest_poll_list %}
    <li><a href="{% url 'poll:detail' poll.id %}">{{ poll.question }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
